<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Model Prediction</title>
</head>
<body>
  <h1>Enter Data to Test Model</h1>
  <form method="POST" enctype="multipart/form-data">
    <input type="file" name="file" id="file-upload" accept=".xlsx, .csv"><br><br>
    <input type="submit" value="Process Data" id="data-submit">
  </form>

  {% if error_message %}
    <div class="alert alert-danger">
      <strong>Error:</strong> {{ error_message }}
    </div>
  {% endif %}

  <div>
    <h2>Jump to Content</h2>
    <ul>
      <li><a href="#accuracies">Accuracies</a></li>
      <li><a href="#iqr">IQR Analysis</a></li>
      <li><a href="#describe">Data Description</a></li>
      <li><a href="#outliers">Outliers</a></li>
      <li><a href="#plots">Plots</a></li>
      <li><a href="#data">Uploaded Data</a></li>
    </ul>
  </div>

  {% if outputs %}
    <h2 id="accuracies">Accuracies:</h2>
    Logistic Regression:<br>{{ outputs.lr_output }}<br>
    Random Forest:<br>{{ outputs.rf_output }}<br>
    KNN:<br>{{ outputs.knn_output }}<br>
    <h2 id="iqr">IQR Analysis</h2><pre>{{ outputs.iqr_output|safe }}</pre><br>
    <h2 id="describe">Data Description</h2>{{ outputs.describe|safe }}<br>
    <h2 id="outliers">Outliers:</h2>{{ outputs.outliers|safe }}
  {% endif %}

  {% if plots %}
    <h2 id="plots">Plots:</h2>
    <div>
      {% for plot in plots %}
        <img src="{{ url_for('static', filename='plots/' + plot) }}"
             alt="Plot" style="max-width: 100%; height: auto; margin-bottom: 20px;">
      {% endfor %}
    </div>
  {% endif %}

  {% if data %}
    <h2 id="data">Uploaded Data:</h2>
    (<i>last thing on webpage</i>)
    {{ data|safe }}
  {% endif %}
</body>
</html>
